<div class="right-sidebar">
    <div class="side-video-list">
        <a href="" class="small-pic"><img src="https://i.ytimg.com/vi/K9Dz8tFBuHY/maxresdefault.jpg" alt=""></a>
        <div class="vid-info">
            <a href="play-video.html">ДОЛГОЖДАННЫЙ КИБЕРПАНК ► Cyberpunk 2077 #1</a>
            <p>Kuplinov ► Play</p>
            <p>8.3 mil Просмотров · 2 года назад</p>
        </div>
    </div>

    <div class="side-video-list">
        <a href="" class="small-pic"><img src="https://i.ytimg.com/vi/IEZ_OMrAWl8/maxresdefault.jpg" alt=""></a>
        <div class="vid-info">
            <a href="play-video.html">Хорошие игры #27 "Баги, Приколы, Фейлы"</a>
            <p>Marmok</p>
            <p>6 mil просмотр · 7 месяцев назад</p>
        </div>
    </div>

    <div class="side-video-list">
        <a href="" class="small-pic"><img src="https://i.ytimg.com/vi/IEZ_OMrAWl8/maxresdefault.jpg" alt=""></a>
        <div class="vid-info">
            <a href="play-video.html">Страха нет (Father's Day)</a>
            <p>Marmok</p>
            <p>3.8 mil просмотр · 3 месяцев назад</p>
        </div>
    </div>

    <div class="side-video-list">
        <a href="" class="small-pic"><img src="https://i.ytimg.com/vi/TJ2ifmkGGus/maxresdefault.jpg" alt=""></a>
        <div class="vid-info">
            <a href="play-video.html">1,000 Незрячих Людей Видят Впервые</a>
            <p>MrBeast</p>
            <p>145 mil просмотр · 4 месяцев назад</p>
        </div>
    </div>

    <div class="side-video-list">
        <a href="" class="small-pic"><img src="https://i.ytimg.com/vi/9Qo_TZIP9J0/maxresdefault.jpg" alt=""></a>
        <div class="vid-info">
            <a href="play-video.html">Что Добавили в НОВЫЙ Adobe Photoshop 2021 - Обзор и Что Нового?</a>
            <p>DorrianKarnett</p>
            <p>22 k просмотр · 2 года назад</p>
        </div>
    </div>

    <div class="side-video-list">
        <a href="" class="small-pic"><img src="https://i.ytimg.com/vi/uvebNBKOSTg/maxresdefault.jpg" alt=""></a>
        <div class="vid-info">
            <a href="play-video.html">Minecraft Speedrunner VS 5 Hunters GRAND FINALE.</a>
            <p>Dream</p>
            <p>59 mil просмотр · 1 год назад</p>
        </div>
    </div>

    <div class="side-video-list">
        <a href="" class="small-pic"><img src="https://i.ytimg.com/vi/HNChn7eK1tM/maxresdefault.jpg" alt=""></a>
        <div class="vid-info">
            <a href="play-video.html">Jaiden Smith Did it Again..</a>
            <p>PewDiePie</p>
            <p>4.6 mil просмотр · 11 месяцев назад</p>
        </div>
    </div>

    <div class="side-video-list">
        <a href="" class="small-pic"><img src="https://i.ytimg.com/vi/dyej_gHWtmo/maxresdefault.jpg" alt=""></a>
        <div class="vid-info">
            <a href="play-video.html">КРАТОС И АТРЕЙ ВЕРНУЛИСЬ ► God of War Ragnarok #1</a>
            <p>Kuplinov ► Play</p>
            <p>4.3 mil просмотр · 7 месяцев назад</p>
        </div>
    </div>

    <div class="side-video-list">
        <a href="" class="small-pic"><img src="https://i.ytimg.com/vi/HNChn7eK1tM/maxresdefault.jpg" alt=""></a>
        <div class="vid-info">
            <a href="play-video.html">YouTube Rewind 2019, but it's actually good</a>
            <p>PewDiePie</p>
            <p>28 mil просмотр · 3 года назад</p>
        </div>
    </div>

    <div class="side-video-list">
        <a href="" class="small-pic"><img src="https://i.ytimg.com/vi/uvebNBKOSTg/maxresdefault.jpg" alt=""></a>
        <div class="vid-info">
            <a href="play-video.html">bye, from Dream.</a>
            <p>Dream</p>
            <p>3.8 mil просмотр · 1 день назад</p>
        </div>
    </div>
</div>