<div class="add-coment">
    <img
        src="https://yt3.googleusercontent.com/kIXN0AB5GM5xnGk77qhRJVFsOyrlxyWo0izuDD1U-Z84naMBB_OErXL6JHCkcjk2tT6LXZVBvg=s176-c-k-c0x00ffffff-no-rj"
        alt="">
    <input type="text" placeholder="Оставить комментарий...">
</div>