<div class="old-comment">
    <img
        src="https://avatars.cloudflare.steamstatic.com/024b107576df43ff479253250785d3684ca83f23_full.jpg"
        alt="">
    <div>
        <h3>Marmok
            <span>1 секунду назад</span></h3>
        <p>
            с меня квас!
        </p>
        <div class="reaction">
            <img src="https://iconape.com/wp-content/png_logo_vector/like.png" alt="">
            <span>158</span>
            <img
                src="https://icons.veryicon.com/png/o/miscellaneous/flowerplus-icon-library/dislike-29.png"
                alt="">
            <span>1</span>
            <span>Ответить</span>
            <a href="">
                <span class="replies">103</span>ответов</a>
        </div>
    </div>
</div>

<div class="old-comment">
    <img
        src="https://sun9-76.userapi.com/s/v1/ig2/_cX7aVGF3TKD_2fakjY4s5xBe3MnLzdeVBpJ02M3G6koNjo0L_xP7Xpw8-N9iAAq4yhVPZzP0hJOYzaB2ywuDnlw.jpg?size=200x200&quality=95&crop=74,44,770,770&ava=1"
        alt="">
    <div>
        <h3>Kuplinov ► Play
            <span>5 дней назад</span></h3>
        <p>comment</p>
        <div class="reaction">
            <img src="https://iconape.com/wp-content/png_logo_vector/like.png" alt="">
            <span>458</span>
            <img
                src="https://icons.veryicon.com/png/o/miscellaneous/flowerplus-icon-library/dislike-29.png"
                alt="">
            <span>2</span>
            <span>Ответить</span>
            <a href="">
                <span class="replies">100</span>ответов</a>
        </div>
    </div>
</div>