<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body class="home">
        <%- include('./partials/nav.ejs') %>
            <h1 class="uph1">Welcome to Poglyad</h1>
            <p>LETS START</p>
            <div class="btn-home">
                <button id="myBtn">Login</button>
            </div>

            <div id="myModal" class="modal">
                <div class="modal-content">

                    <span class="close">&times;</span>
                    <%- include('./partials/login.ejs') %>
                    </div>
                </div>

                <script>
                    let modal = document.getElementById("myModal");
                    let btn = document.getElementById("myBtn");
                    let span = document.getElementsByClassName("close")[0];
                    btn.onclick = function () {
                        modal.style.display = "block";
                    }
                    span.onclick = function () {
                        modal.style.display = "none";
                    }
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
            </body>
        </html>