<div class="plubisher">
    <img
        src="https://cdn-icons-png.flaticon.com/512/4646/4646084.png"
        alt="Nah">
    <div>
        <p>Test</p>
        <span>qwerty subs</span>
    </div>
    <button type="button" class="btn">Подписаться</button>
</div>